<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row mb-3">
                <h5>
                    Users <small class="fs-6 text-small">(Showing {{firstItem}} to {{lastItem}} of
                        {{totalUsers}})</small>
                </h5>
                <p class="col-11">List of all available Users</p>
                <a class="float-end btn btn-sm btn-success col-1 p-2" routerLink="/users/new"><i class="fa fa-plus"></i>
                    Add</a>
            </div>
        </div>

        <p-table [value]="user" [tableStyle]="{'min-width': '60rem'}" [rows]="rows" [totalRecords]="totalUsers"
            [lazy]="true" (onLazyLoad)="loadUsers($event)" [loading]="loading"
            tableStyleClass="table table-striped table-bordered table-hover table-secondary shadow">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3%;" class="text-center">S.N</th>
                    <th style="width:20%" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th style="width:20%" pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th style="width:10%">Phone </th>
                    <th style="width:10%" pSortableColumn="isAdmin">Role <p-sortIcon field="isAdmin"></p-sortIcon>
                    </th>
                    <th style="width:10%" pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon>
                    </th>
                    <th style="width:10%" class="text-center">Actions </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td class="text-center">{{ rowIndex+firstItem }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td><span
                            [ngClass]="item.isAdmin ? 'badge rounded-pill text-bg-danger' : 'badge rounded-pill text-bg-success'">
                            {{ item.isAdmin ? 'Admin' : 'User' }}
                        </span></td>
                    <td>{{ item.country }}</td>
                    <td class="text-center">
                        <a (click)="toggleUserAdmin(item.id)" class="btn btn-sm btn-primary"
                            pTooltip="Toggle Role to {{ item.isAdmin? 'User':'Admin' }}" tooltipPosition="top"><i
                                class="fa-duotone fa-triangle-exclamation"></i></a>
                        &nbsp;<a (click)="editUser(item.id)" class="btn btn-sm btn-warning"
                            pTooltip="Edit {{ item.name }}" tooltipPosition="top"><i class="fa-duotone fa-edit"></i></a>
                        &nbsp;<a (click)="deleteUser(item.id)" class="btn btn-sm btn-danger"
                            pTooltip="Delete {{ item.name }}" tooltipPosition="top"><i
                                class="fa-duotone fa-trash"></i></a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" class="text-center">
                        <div class="no-data-message">
                            <h5><i class="fa-duotone fa-info-circle"></i>
                                <b class="text-danger"> No data found. Please try again later.</b>
                            </h5>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <admin-paginator *ngIf="dataIsLoaded" [totalItems]="totalUsers" [currentEvent]="currentEvent"
            (pageChange)="loadUsers($event)" (ourFirstItem)="ourFirstItem($event)"
            (ourLastItem)="ourLastItem($event)"></admin-paginator>
    </div>
</div>