<div class="card">
  <div class="card-body">
    <h5>
      Categories ({{categories.length}})
    </h5>
    <p>List of all available categories</p>
  </div>
  <ngx-datatable style="width: 100%;" [rows]="categories" [columns]="categoriesModel" [loadingIndicator]="loadingIndicator" [headerHeight]="40" rowHeight="auto" class="bootstrap">
  </ngx-datatable>
  <!-- <table id="myTable" class="table border table-striped table-bordered table-hover display nowrap" style="width: 100%">
    <thead>
      <tr>
        <th>S.N</th>
        <th>Name</th>
        <th>Image</th>
        <th>Icon</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of categories; index as i">
        <td>{{ i+1 }}</td>
          <td>{{ cat.name }}</td>
          <td><img src="{{ cat.image }}" alt="{{ cat.name }} Image"></td>
          <td><i class="{{ cat.icon }}"></i></td>
          <td><input type="color" name="color" value="{{ cat.color }}" disabled></td>
        </tr>
    </tbody>
  </table> -->
</div>