<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row mb-3">
      <h5>
        Categories ({{categories.length}})
      </h5>
        <p class="col-11">List of all available categories</p>
        <a class="float-end btn btn-sm btn-success col-1 p-2" routerLink="/categories/new"><i class="fa fa-plus"></i>
          Add</a>
      </div>
    </div>

    <p-table [value]="categories" [tableStyle]="{'min-width': '60rem'}"
      tableStyleClass="table table-striped table-bordered table-hover">
      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th style="width:20%">Image </th>
          <th style="width:20%">Icon </th>
          <th style="width:20%">Color </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cat>
        <tr>
          <td>{{ cat.name }}</td>
          <td><img src="{{ cat.image }}" alt="{{ cat.name }} Image"></td>
          <td><i class="{{ cat.icon }}"></i></td>
          <td><input type="color" name="color" value="{{ cat.color }}" disabled></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center">
            <div class="no-data-message">
              <h5><i class="fa fa-info-circle"></i>
                <b class="text-danger"> No data found. Please try again later.</b>
              </h5>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>