<div class="row">
    <div class="col-2"></div>
    <div class="col">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {{isFirstPage()? 'disabled':''}}">
                    <a class="page-link" (click)="first()" aria-label="Previous">
                        <i class="fa-duotone fa-chevrons-left"></i>
                    </a>
                </li>
                <li class="page-item {{isFirstPage()? 'disabled':''}}">
                    <a class="page-link" (click)="prev()" aria-label="Previous">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </li>
                <li class="page-item {{page === currentPage? 'active disabled':''}}" *ngFor="let page of pages">
                    <a class="page-link" (click)="goToPage(page)">
                        {{ page }}
                    </a>
                </li>
                <li class="page-item {{isLastPage()? 'disabled':''}}">
                    <a class="page-link" (click)="next()" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item {{isLastPage()? 'disabled':''}}">
                    <a class="page-link" (click)="last()" aria-label="Next">
                        <i class="fa-duotone fa-chevrons-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-2">
        <select (change)="rowUpdate()" [(ngModel)]="rows" class="form-select">
            <option value='5'>5</option>
            <option value='10'>10</option>
            <option value='25'>25</option>
            <option value='50'>50</option>
            <option value='100'>100</option>
        </select>
    </div>
</div>

<style>
    a{
        cursor: pointer;
        text-decoration: none;
    }
</style>