<nav class="navbar navbar-expand-lg sticky-top shadow transparency no-sel">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" alt="NG Shop" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex navbar-nav me-4">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }"><i
            class="far fa-home">&nbsp;</i>Dashboard</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/categories"><i
            class="far fa-list">&nbsp;</i>Categories</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/products"><i
            class="far fa-briefcase">&nbsp;</i>Products</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/orders"><i
            class="far fa-shopping-cart">&nbsp;</i>Orders</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/users"><i class="far fa-users">&nbsp;</i>Users</a>
        <a class="nav-item dropdown" style="text-decoration: none;">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-user">&nbsp;</i>{{name}}
          </a>
          <ul class="dropdown-menu shadow">
            <li><p class="dropdown-item disabled" >{{email}}</p></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()"><i class="far fa-sign-out">&nbsp;</i> Logout</a></li>
          </ul>
        </a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-disabled="true">Modal</a>
      </div>
    </div>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content transparency text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<style>
  .active {
    color: var(--bs-danger) !important;
  }
  .nav-link:hover, .dropdown-item:hover{
    color: red !important;
    cursor: pointer;
    transition: 300ms;
  }
</style>