<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" alt="NG Shop" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex navbar-nav me-4">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard"><i
            class="far fa-home">&nbsp;</i>Dashboard</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/categories"><i
            class="far fa-list">&nbsp;</i>Categories</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/products"><i
            class="far fa-briefcase">&nbsp;</i>Products</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/orders"><i
            class="far fa-shopping-cart">&nbsp;</i>Orders</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/users"><i class="far fa-users">&nbsp;</i>Users</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/logout"><i
            class="far fa-sign-out">&nbsp;</i>Logout</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>